# If you want some example snippets, check out:
# https://github.com/atom/language-javascript/blob/master/snippets/javascript.cson

'.source.mdbp':
  'cover page（章扉）':
    'prefix': 'cov'
    'body': '@div:coverpage'
  'section header（節見出し）':
    'prefix': 'sec'
    'body': '@div:secheader'
  'figure（図版）':
    'prefix': 'fig'
    'body': '@div:figure'
  'column（コラム）':
    'prefix': 'col'
    'body': '@div:column'
  'comment（コメント）':
    'prefix': 'com'
    'body': '@comment:$1@commend'
  'hen（編集コメント）':
    'prefix': 'hen'
    'body': '@div:hen'
  '@divend':
    'prefix': 'de'
    'body': '@divend'
  'bold text':
    'prefix': 'b'
    'body': '**$1**$0'
  'code':
    'prefix': 'code'
    'body': """
      ```$1
      $2
      ```$0
    """
  'italic text':
    'prefix': 'i'
    'body': '*$1*$0'
  'embedded image':
    'prefix': 'img'
    'body': '![$1]($2)$0'
  'link':
    'prefix': 'l'
    'body': '[$1]($2)$0'
  'bullet point':
    'prefix': 'p'
    'body': '- $1'
  'reference':
    'prefix': 'ref'
    'body': '[${1:id}]: ${2:url}${3: "${4:title}"}$0'
  'reference image':
    'prefix': 'rimg'
    'body': '![$1][$2]$0'
  'reference link':
    'prefix': 'rl'
    'body': '[$1][$2]$0'
  'todo':
    'prefix': 't'
    'body': '- [ ] $1'
  'table':
    'prefix': 'table'
    'body': """
      | ${1:Header One    } | ${2:Header Two    }
      |-- |--
      | ${3:Item One      } | ${4:Item Two      } $0
    """
